* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #141414;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.wrapper {
    width: 300px;
    text-align: center;
}

h2 {
    color: #fff;
}

input[type='text'] {
    width: 100%;
    padding: 7px 10px;
    margin: 20px 0;
    border-radius: 5px;
    font-size: 1.3em;
}

/* button {
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 1.3em;
    border: none;
    color: aliceblue;
} */

.btn-guess {
    /* background-color: #8245f3; */
}

.play-again {
    background-color: #19c019;
    display: none;
}

.attempts {
    color: #fff;
    padding: 20px 0;
    font-size: 1.3rem;
}

.btn {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
   }
   
   .btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .btn:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   .btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .btn:active {
    transform: scale(0.9);
   }